:root {
  --color-bg: #f0fdf4;
  --color-primary: #4ade80;
  --color-text: #15803d;
  --color-subtext: #6b7280;
}

html,
body {
  font-family: Figtree, sans-serif;
  background-color: var(--color-bg);
}
