<div class="flex flex-row gap-3 items-center">   
   <a href="<%= link %>" class="text-gray-700 text-lg font-semibold hover:text-green-700 transition-all duration-200">
        <%= paginaAnterior %>

    </a>
    <img src="/images/seta.png" class="w-5 h-5">
    <h1 class="capitalize text-gray-500 text-lg font-semibold">
        <%= paginaAtual %>
    </h1>
</div>