<div id="empty-state" class="w-full bg-white rounded-xl items-center text-gray-600 border border-gray-200 p-16 flex flex-col gap-3 mt-6 <%= (quebrasPositivas.length === 0 && quebrasNegativas.length === 0) ? '' : 'hidden' %>">
    <img src="/images/icons/heart_smile.png" alt="Nenhuma quebra de caixa encontrada" class="w-16 h-16">
    <div class="text-center gap-2 flex flex-col">
        <h2 class="text-lg font-semibold text-gray-600">Nenhuma quebra de caixa encontrada</h2>
        <p class="text-sm text-gray-400">Não há registros para este período.</p>
    </div>
</div>